body {
	color: #32c42b;
 background-color: #003364;
 height: 100vh;
 margin: 0;
 background-image: url(img/stars.jpg);
 background-size: cover;
}
#moon {
	background-image: url('./img/moon.png');
	-webkit-transform: rotate(180deg);
  	transform: rotate(180deg);
}
#sky {
	position: relative;
	height: 70%;
	width: 100%;
}
#earth {
	background-image: url('./img/earth.png');
}
#rocket {
	margin-left: 50%;
	padding-right: 50px;
}
.rocket_img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 70px;
	width: 70px;
}
.planets {
	height: 15%;
	width: 100%;
	background-size: 100%, auto;
}
.rocket_col {
	height: 100%;
	width: 10%;
	float: left;
	z-index: 20;
}
.side_padding {
	height: 100%;
	width: 35%;
	float: left;
	padding-left: 10px;
	font-family: monospace;
	font-size: 1.5em;
}

.jono-shake {
	position: relative;
	animation-name: myshake;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

@keyframes myshake {
	0% {left: 0px;}
	10% {left: 4px; top:3px; transform: rotate(5deg);}
	20% {left: 0px; top:2px; transform: rotate(5deg);}
	30% {left: -2px; top:-2px; transform: rotate(2deg);}
	40% {left: 0px; top:2px; transform: rotate(-7deg);}
	50% {left: 1px; top:1px; transform: rotate(-8deg);}
	60% {left: -2px; top:2px; transform: rotate(2deg);}
	70% {left: 2px; top:1px; transform: rotate(2deg);}
	80% {left: 1px; top:-2px; transform: rotate(-1deg);}
	90% {left: -1px; top:-1px; transform: rotate(1deg);}
	100% {left: 2px; top: -2px; transform: rotate(0deg);}
}
.line-sec {
	color: #FFF;
	font-family: arial;
}
#line {
	height: 1px;
	width: 100%;
}
.line-pusher {
	height: 1px;
	border-bottom: 2px dashed;
	border-color: #FFF;
}

#j_rocket {
	animation-delay: 2s;
}
#m_rocket {
    animation-direction: reverse;
}

#j_line-pusher {
	position: relative;
	padding-top: 425px;
	width: 50%;
	z-index: 11;
	margin-left: 50%;
}

#min_line-pusher {
	position: relative;
	padding-top: 455px;
	width: 50%;
	margin-left: 50%;
	z-index: 13;
}

#m_line-pusher {
	position: relative;
	padding-top: 495px;
	width: 50%;
	margin-left: 50%;
	z-index: 12;
}

#line-buffer {
	width: 100px;
	height: 10px;
	}

@media only screen and (max-width: 691px) {
	#moon {
	background-image: url('./img/moon.png');
	-webkit-transform: rotate(180deg);
  	transform: rotate(180deg);
	}
	.planets {
	height: 15%;
	width: auto;
	background-size: auto, 100px;
	background-position: center top;
	}


}